@import "tailwindcss";

button {
    @apply cursor-pointer;
}

#main {
    background: url(assets/wikipedia-logo.svg) no-repeat center center;
    background-size: cover;
}

@layer base {
    .wiki-content {
        @apply overflow-x-hidden max-w-7xl mx-auto relative leading-7;

        p {
            @apply my-3;
        }

        a {
            @apply text-blue-800 hover:underline;
        }

        a>* {
            @apply inline;
        }

        h2 {
            @apply border-b border-gray-300 mb-1 pt-2 font-bold text-2xl pb-1 overflow-hidden;
        }

        h3 {
            @apply mt-4 mb-2 font-bold text-lg;
        }

        h4 {
            @apply font-bold;
        }


        ul {
            @apply ml-6 list-disc list-item;
        }

        .plainlist ul, .plainlist li {
            list-style: none !important;
            margin-left: 0 !important;
            padding-left: 0 !important;
        }

        li>* {
            @apply inline;
        }

        li:has(ul) {
            ul li {
                @apply ml-4;
                list-style-type: circle;
            }
        }

        .hatnote,
        .navigation-not-searchable {
            @apply mb-4 text-sm bg-zinc-50 border-t border-zinc-200 overflow-hidden;
        }

        .tright {
            @apply float-right ml-4 my-2;
        }

        .thumbcaption {
            @apply text-xs
        }

        .toc,
        .box-Multiple_issues,
        .lazy-image-placeholderm,
        .mw-empty-elt,
        .ambox {
            @apply hidden;
        }

        .mw-file-element,
        .mw-file-description,
        .portalbox,
        .plainlinks,
        .external {
            @apply pointer-events-none;
        }

        figcaption {
            @apply text-center text-xs text-zinc-500 table-caption caption-bottom;
        }

        figure {
            @apply sm:float-right mx-auto sm:ml-6 my-4 max-w-md table clear-right;
        }

        table:not(.infobox, .ambox) {
            @apply block sm:table overflow-x-auto border-none max-w-full;

            td[style*="text-align:right"] {

                li,
                div,
                span {
                    @apply flex gap-1 items-center justify-end;
                }
            }

            td[style*="text-align:center"] {

                li,
                div,
                span {
                    @apply flex gap-1 items-center justify-center;
                }
            }

            li span {
                @apply flex gap-1 items-center;
            }

            li::before {
                @apply hidden;
            }
        }

        .wikitable {
            @apply border-collapse border border-zinc-300 my-4;

            th,
            td {
                @apply border border-zinc-300 p-2;
            }

            th {
                @apply bg-zinc-200 font-bold;
            }
        }

        .infobox {
            @apply float-right ml-6 bg-zinc-50 border border-zinc-200 text-sm leading-6 border-collapse clear-right;
            @apply w-full sm:w-88;

            .infobox-title {
                @apply bg-zinc-200 font-bold text-center text-lg;
            }

            tbody,
            tr {
                @apply border border-inherit;
            }

            td,
            th {
                @apply p-1 align-top;
            }

            img {
                @apply mx-auto block;
            }

            .infobox-caption,
            .infobox-above {
                @apply text-center;
            }

            .collapsible-list ul {
                @apply pl-4;
            }

            .infobox-navbar {
                @apply hidden;
            }

            table {
                @apply table;
            }
        }

        .mw-references-wrap {
            @apply sm:columns-2;
        }

        .references li {
            @apply list-decimal ml-6 list-item;
        }

        .references[data-mw-group="lower-alpha"] li {
            @apply ml-6 list-item;
            list-style-type: lower-alpha;
        }
    }
}