@import "tailwindcss";

button {
    @apply cursor-pointer;
}

@layer base {
    .wiki-content {
        line-height: 1.6;
        position: relative;

        a {
            color: #0645ad;
        }

        h1,
        h2 {
            border-bottom: 1px solid #a2a9b1;
            margin-bottom: 0.25em;
            padding-top: 0.5em;
            font-weight: normal;
        }

        h2 {
            font-size: 1.5em;
        }

        .toc {
            display: none;
        }

        .infobox {
            float: right;
            margin: 0 0 1em 1.5em;
            background-color: #f8f9fa;
            border: 1px solid #a2a9b1;
            padding: 0.2em;
            font-size: 88%;
            line-height: 1.5em;
            width: 22em;
            border-collapse: separate;

            td,
            th {
                margin: 1em;
                vertical-align: top;
                text-align: left;
            }

            img {
                margin-left: auto;
                margin-right: auto;
                display: block;
            }

            .infobox-caption,
            .infobox-above {
                text-align: center;
            }
        }
    }
}